/* change padding and font for the complete body */
body {
	padding: 5px;
	font-size: 12px;
	font-family: Helvetica, Arial, sans-serif;
	overflow: hidden;
	min-width: 340px;
}

/* fix for the glyphicon position */
.panel-heading span {
	margin-top: -20px;
}

/* change cursor type for the glyphicon */
.clickable-span {
	cursor: pointer;
}

.panel-group {
	margin-bottom: 0px;
}

/* fix for the title position*/
.panel-heading h3 {
	margin-left: -8px;
}

.panel-body {
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.form-group {
	padding-top: 12px;
	margin-bottom: 0px;
}

.input-xs {
	height: 26px;
	padding: 5px 5px;
	font-size: 12px;
	border-radius: 3px;
}

/*fix for the checkbox */
.checkbox-list {
	padding-top: 0px;
	margin-top: -10px;
	padding-left: 2px;
	padding-right: 2px;
}

/*fix for the checkbox */
.checkbox-container {
	padding-top: 0px;
	margin-top: -10px;
	padding-left: 1px;
	padding-right: 1px;
}

.checkbox  {
	margin-top: 5px;
	margin-bottom: 5px;
	line-height: 22px;
}

.btn {
	margin-top: 5px;
	margin-bottom: 5px;
}

.table-container {
	overflow: auto;
	max-height: 312px;
}

.table-tabs {
	margin-top: 5px;
	width: 100%;
}

.table-tabs td{
	padding: 2px;
}

.link-cell {
	max-width: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	cursor: pointer;
}

.link-cell img {
	float: left;
	height: 16px;
	width: 16px;
	margin-right: 8px;
}

.button-cell {
	width: 5px;
}
